BasedOnStyle: Google
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentWidth: 2

PointerAlignment: Left
ReferenceAlignment: Left
